*{
    font-family: "Arial", sans-serif;
}
.titleimage{
    width: 100%;
    height: 0;
    padding-top: 15.86%; /*truque pra imagem de background ter o mesmo tamanho da div*/
    padding-bottom: 15.86%;
    margin-bottom: 20px;
    background-size: contain;
    background-image: url(images/yea2.jpg);
}
.titleimage div{
    padding:0px 0px 0px 5%;
}
.container{
    width: 100%;
    margin: 0px;
}
.block{
    width: auto;
    height: auto;
    margin: 5px auto;    
    border: solid 1px #888888;
    text-align: center;
}
.pct20{
    padding-right: 20px;
    margin: auto;
    width: 20%;
    float: left;
}
.block img{
    width: 100%;
    height: auto;
}
.placeholder{
    padding-left: 2px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey;    
}
.block p {
    margin-top: -20px;
}
.whitespace{
    width: 100%;
    height: 200px;
}
header{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed; /*da scroll junto com a pagina*/
    margin: -10px -10px -10px -10px; /*deixa o header grudado na margem da tela*/
}
.menuitem{
    width: 25%;
    height: 50px;
    border-bottom: 1px solid grey;  
    float: left;  
    text-align: center;
    vertical-align: middle;
}
header .pct20{
    width: 20%;
    height: 50px;
    
}
a{
    color: black;
    text-decoration: none;
}
.category{
    margin-top: 10px;
}
.smallcat{
    display: inline-block;
    background-color: lightgray;
    border-radius: 3px;
    padding:5px;
    margin-top: 5px;
}
.smallcat p{
    padding: 0px;
    margin:0px;
    font-size: 13px;
}