*{
    overflow-x: hidden;
}
h5{
    overflow: hidden;
}
.container-fluid{
    padding: 0px 0px 0px 0px;
}
.card{
    margin-top: 20px;
}
.main{
    border-radius: 0px;
}
.list-group{
    padding-top: 20px;
}